<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>
</head>
<body>
<h1>Form Đăng Ký</h1>

<h4 style="color: green" th:text="${message}"></h4>
<h4 style="color: red" th:text="${error}"></h4>

<form th:action="@{/account/register}" method="post" enctype="multipart/form-data">
    <div>
        <label for="username">Tên đăng nhập:</label>
        <input id="username" name="username">
    </div>
    <div>
        <label for="password">Mật khẩu:</label>
        <input id="password" name="password" type="password">
    </div>
    <div>
        <label for="photo">Ảnh đại diện:</label>
        <input id="photo" type="file" name="photo">
    </div>
    <br>
    <button type="submit">Đăng ký</button>
</form>

<a th:href="@{/account/login}">Đã có tài khoản? Đăng nhập</a>
</body>
</html>